@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.spinner{
    @apply animate-spin;
    animation: spin 2s linear infinite;
}

.off-screen-left {
    transform: translateX(-20px);
  }

.off-screen-right {
    transform: translateX(20px);
  }
.white-shadow {
    box-shadow: 1 0 10px 10px white;
  }

.max-width {
  max-width: 1184px;
}